body {
    font-family: 'Gloock', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;;
}

.content{
    position: absolute;
    left: 25%;
    top: 20%;
    width: 800px;
    background-color: #DAE3E9;
}